<div class="navbar bg-base-100 bg-cyan-800">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <i class="fa-solid fa-bars fa-xl" style="color: #fcfcfc;"></i>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><%= link_to t('defaults.search'), search_restaurants_path %></li>
        <li><%= link_to t('defaults.bookmarks'), bookmarks_restaurants_path %></li>
      </ul>
    </div>
    <%= link_to 'HASHIGO', root_path,class:"btn btn-ghost normal-case text-xl text-neutral-50" %>
  </div>
    <div class="navbar-center hidden lg:flex text-neutral-50">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to t('defaults.search'), search_restaurants_path %></li>
      <li><%= link_to t('restaurants.bookmarks.title'), bookmarks_restaurants_path %></li>
    </ul>
  </div>
  <div class="navbar-end">
    <%= link_to t('defaults.logout'), logout_path, data: { turbo_method: :delete }, class:'btn rounded-full'%>
  </div>
</div>