  <%# <figure><img src="/images/stock/photo-1635805737707-575885ab0820.jpg" alt="Movie"/></figure> %>


<div class="flex flex-wrap justify-between mb-4">
  <%# <div class="w-full md:w-1/2 lg:w-1/3 p-4"> %>
  <div class="w-full md:w-2/3 lg:w-1/2 p-4">
    <div class="card flex flex-row border rounded-lg overflow-hidden shadow-lg">
      <%# <div class="w-1/3"> %>
      <div class="w-1/4">
        <%= image_tag (restaurant.image_url || 'default_image.jpg'), alt: restaurant.name,class: 'h-full w-full object-cover' %>
        <%# <%= image_tag 'default_image.jpg', class: 'h-full w-full object-cover' %>
        <%= simple_format("Source of photo: #{restaurant.html_attributions}", class: "text-xs text-center mt-2") if restaurant.html_attributions.present? %>
      </div>
      <%# <div class="w-2/3 p-4"> %>
      <div class="w-3/4 p-4">
        <h2 class="card-title text-lg font-bold mb-2"><%= restaurant.name %></h2>
        <p>住所：<%= restaurant.address %></p>
        <p>電話番号：<%= restaurant.phone_number %></p>
        <p>Googleクチコミスコア: <%= restaurant.rating %></p>
        <div class="mt-4">
          <%= link_to '詳細', restaurant_path(restaurant), class: "btn btn-primary" %>
        </div>
      </div>
      <div class="absolute top-2 right-2">
        <%= render 'bookmark_button', restaurant: restaurant %>
      </div>
    </div>
  </div>
</div>

