<div class="flex flex-wrap justify-between mb-4 justify-center" data-restaurant-container >
  <div class="w-full p-4">
  <div class="card flex flex-row border rounded-lg overflow-hidden shadow-lg" data-total_ratings="<%= restaurant.total_ratings %>" data-bookmarks="<%= restaurant.bookmark_count %>">
      <div class="form-control">
        <label class="label cursor-pointer">
          <input type="checkbox" class="hidden restaurant-checkbox checkbox checkbox-primary" data-restaurant-id="<%= restaurant.id %>">
        </label>
      </div>
      <div class="w-1/4">
        <%= image_tag (restaurant.image_url || 'default_image.png'), alt: restaurant.name,class: 'h-full w-full object-cover' %>
        <%= simple_format("Source of photo: #{restaurant.html_attributions}", class: "text-xs text-center mt-2") if restaurant.html_attributions.present? %>
      </div>
      <div class="w-3/4 p-4">
        <h2 class="card-title text-lg font-bold mb-2"><%= restaurant.name %></h2>
        <p><%= t('activerecord.attributes.restaurants.address')%>：<%= restaurant.address %></p>
        <p><%= t('activerecord.attributes.restaurants.phone_number')%>：<%= restaurant.phone_number %></p>
        <p><%= t('activerecord.attributes.restaurants.rating')%>：<%= restaurant.rating %></p>
        <p><%= t('activerecord.attributes.restaurants.total_ratings')%>：<%= restaurant.total_ratings %></p>
        <p><%= t('activerecord.attributes.restaurants.price_level')%>：<%= restaurant.price_level_str %></p>
        <p><%= t('restaurants.search.bookmark_count')%>：<%= restaurant.bookmark_count %></p>
        <div class="mt-4">
          <%= link_to (t 'restaurants.search.to_show_page'), restaurant_path(restaurant), class: "btn btn-secondary font-bold" %>
        </div>
      </div>
      <div class="absolute top-2 right-2">
        <%= render 'bookmark_button', restaurant: restaurant %>
      </div>
    </div>
  </div>
</div>

