<div id="tag-section">
  <% restaurant.tags.each do |tag| %>
    <div class="badge badge-info bg-teal-300 font-bold gap-2">
      <%= tag.name %>
    </div>
  <% end %>

  <button id="edit-button" class="btn btn-secondary btn-xs">
    <%= restaurant.tags.any? ?  (t 'restaurants.show.edit') : (t 'restaurants.show.add_tag')  %>
  </button>
</div>

<div id="tag-form" style="display: none;">
  <%= form_with model: restaurant, url: update_tag_restaurant_path(restaurant), method: :post  do |f| %>
    <%= f.text_field :tag_list, value: restaurant.tag_list.join(", "), placeholder: ",カンマで区切って入力", class: "input input-bordered input-sm w-full max-w-xs" %>
    <%= f.submit restaurant.tag_list.length > 0 ? (t 'restaurants.show.update') : (t 'restaurants.show.add'), class: "btn btn-secondary btn-xs text-sky-800" %>
  <% end %>
</div>

<script>
document.addEventListener('turbo:load', function() {
  const editButton = document.getElementById("edit-button");
  const tagSection = document.getElementById("tag-section");
  const tagForm = document.getElementById("tag-form");
  if (tagForm) {
    const form = tagForm.querySelector('form');

    editButton.addEventListener("click", function() {
      tagSection.style.display = "none";
      tagForm.style.display = "block";
    });

    if (form) {
      form.addEventListener("submit", function(event) {
        tagForm.style.display = "none";
        tagSection.style.display = "block";
      });
    }
  }
});
</script>
