<div data-turbo="false">
<div class="container mx-auto">
  <%= form_with url: restaurants_path, method: :get, local: true, id: 'address-form' do |f| %>
    <%= f.label :address, '住所' %>
    <%= f.text_field :address, id: 'address' %>
    <%= f.submit '検索', id: 'search-address' %>
  <% end %>

  <button id="get-location">現在地を取得</button>

  <div id="restaurant-list">
    <% @restaurants.each do |restaurant| %>
      <p><%= restaurant.name %></p>
    <% end %>
  </div>
</div>


<script>
// ToDo: あとでapplication.jsに分ける

document.addEventListener('DOMContentLoaded', function() {
  const getLocationButton = document.getElementById('get-location');
  getLocationButton.addEventListener('click', function() {
    if (!navigator.geolocation) {
      alert('Geolocation is not supported by your browser');
      return;
    }

    function success(position) {
      const latitude  = position.coords.latitude;
      const longitude = position.coords.longitude;

      window.location.href = `/restaurants?latitude=${latitude}&longitude=${longitude}`;
    }

    function error() {
      alert('Unable to retrieve your location');
    }

    navigator.geolocation.getCurrentPosition(success, error);
  });
});


</script>

</div>
