<div class="flex-grow flex items-center justify-center">
  <div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold mb-8"><%= t '.title' %></h1>
    <%= form_with url: search_restaurants_path, method: :get, local: true, id: 'address-form' do |f| %>
      <div class="mb-6 mt-6">
        <button type="button" id="get-location" class="btn"><%= t '.get_location' %></button>
      </div>
      <div class="mb-6">
        <%= f.label :address, (t '.address' )  %>
        <%= f.text_field :address, id: 'address', value: params[:address], class:"input input-bordered" %>
        <%= f.hidden_field :latitude, id: 'latitude' %>
        <%= f.hidden_field :longitude, id: 'longitude' %>
      </div>
      <div class="mb-6">
        <%= f.label :radius,(t '.radius' ) %>
        <%= f.number_field :radius, value: params[:radius]|| 100, min: 50, step: 50, class:"input input-bordered"  %>
      </div>
      <div class="mb-6">
        <%= f.radio_button :place_type,'restaurant',checked:"checked", class: "radio radio-accent" %>
        <%= f.label :place_type, (t '.restaurant' ) , class: "mr-4" %>
        <%= f.radio_button :place_type, 'bar', class: "radio radio-accent"  %>
        <%= f.label :place_type, (t '.bar' ) %>
      </div>

        <div class="mb-6">
        <%= f.label :rating, (t '.rating' )%>
        <%= f.select :rating, [["選択しない", nil], ["1以上", 1], ["2以上", 2], ["3以上", 3], ["4以上", 4], ["5", 5]], selected: params[:rating], include_blank: false %>
      </div>
      <div class="mb-6">
        <%= f.submit (t '.submit' ), id: 'search-address',class:'btn' %>
      </div>
    <% end %>

    <%= render 'search_results', restaurants: @restaurants  %>
  </div>
</div>

<script>
document.addEventListener('turbo:load', function() {
  const getLocationButton = document.getElementById('get-location');
  const searchButton = document.getElementById('search-address');

  getLocationButton.addEventListener('click', function() {
    if (!navigator.geolocation) {
      alert('Geolocation is not supported by your browser');
      return;
    }

    searchButton.disabled = true; // 住所が取得できるまでボタンを無効化する

    function success(position) {
      const latitude  = position.coords.latitude;
      const longitude = position.coords.longitude;

      // サーバーに緯度と経度を送信
      fetch('/get_location', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector("meta[name='csrf-token']").getAttribute("content")
        },
        body: JSON.stringify({latitude: latitude, longitude: longitude}),
      })
      .then(response => response.json())
      .then(data => {
        // レスポンスから住所を取得し、フォームにセット
        const addressInput = document.querySelector('input[name="address"]');
        addressInput.value = data.address;

        // hidden fieldに緯度と経度をセット
        document.getElementById('latitude').value = latitude;
        document.getElementById('longitude').value = longitude;

        searchButton.disabled = false; // ボタンを有効化
      });
    }

    function error() {
      alert('Unable to retrieve your location');
    }

    navigator.geolocation.getCurrentPosition(success, error);
  });
});
</script>