<div class="container mx-auto px-6 ">
  <div class="text-2xl font-bold mt-4 mb-4 flex items-center justify-between">
    <h1><%= @restaurant.name %></h1>
    <div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL" data-url="https://hashigo.fly.dev//restaurants/<%= @restaurant.id %>" data-color="default" data-size="small" data-count="false" data-ver="3" style="display: none;"></div>
  </div>

  <li><strong><%= t('activerecord.attributes.restaurants.address')%>：</strong> <%= @restaurant.address %>
  <li><strong><%= t('activerecord.attributes.restaurants.phone_number')%>：</strong> <%= @restaurant.phone_number %>
  <li><strong><%= t('activerecord.attributes.restaurants.price_level')%>：</strong> <%= @restaurant.price_level_str %>
  <li><strong><%= t('activerecord.attributes.restaurants.rating')%>:</strong> <%= @restaurant.rating %>
  <li><strong><%= t('.bookmark_count')%>:</strong> <%= @restaurant.bookmark_count %>
  <li><strong><%= t('activerecord.attributes.tags.name')%>：</strong></p>
  <%= turbo_frame_tag 'tags-section' do %>
    <%= render partial: 'tags_section', locals: { restaurant: @restaurant } %>
  <% end %>
  <li><strong>URL:</strong> <%= link_to @restaurant.url, @restaurant.url, target: "_blank" %></p>
  <% if @restaurant.opening_hours && @restaurant.opening_hours != "N/A" %>
    <li><strong><%= t('activerecord.attributes.restaurants.opening_hours') %>:</strong></li>
    <%= simple_format(@restaurant.opening_hours.gsub(",", "\n")) %>
  <% end %>
  <%= image_tag (@restaurant.image_url || 'default_image.jpg'), alt: @restaurant.name %>


<% if @restaurant.html_attributions.present? %>
  <div>
    <%= simple_format("Photo by: #{@restaurant.html_attributions}") %>
  </div>
<% end %>

<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
<script>
window.addEventListener('DOMContentLoaded', function() {
  LineIt.loadButton();
});
</script>
</div>