<div class="container mx-auto px-4">
  <div class="mt-4 flex items-center justify-between">
    <h1><strong><%= @restaurant.name %></strong></h1>
    <div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL" data-url="https://hashigo.fly.dev//restaurants/<%= @restaurant.id %>" data-color="default" data-size="small" data-count="false" data-ver="3" style="display: none;"></div>
  </div>

  <li><strong>住所:</strong> <%= @restaurant.address %>
  <li><strong>電話番号：</strong> <%= @restaurant.phone_number %>
  <li><strong>価格帯：</strong> <%= @restaurant.price_level_str %>
  <li><strong>クチコミスコア:</strong> <%= @restaurant.rating %>
  <li><strong>ブックマーク数:</strong> <%= @restaurant.bookmark_count %>
  <li><strong>タグ：</strong></p>
  <%= turbo_frame_tag 'tags-section' do %>
    <%= render partial: 'tags_section', locals: { restaurant: @restaurant } %>
  <% end %>
  <li><strong>URL:</strong> <%= link_to @restaurant.url, @restaurant.url, target: "_blank" %></p>
  <% if @restaurant.opening_hours %>
    <li><strong>営業時間:</strong></p>
    <%= simple_format(@restaurant.opening_hours.gsub(",", "\n")) %>
  <% end %>
    <%# <p><strong>Categories:</strong> <%= @restaurant.categories %></p>

  <%= image_tag (@restaurant.image_url || 'default_image.jpg'), alt: @restaurant.name %>
    <%# <% if @restaurant.image_url.present? %>
        <%# <%= image_tag @restaurant.image_url, alt: @restaurant.name %>
    <%# <% end %>

<% if @restaurant.html_attributions.present? %>
  <div>
    <%= simple_format("Source of photo: #{@restaurant.html_attributions}") %>
  </div>
<% end %>

<%= link_to 'back', root_path %>

<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
<script>
window.addEventListener('DOMContentLoaded', function() {
  LineIt.loadButton();
});
</script>
</div>