<div data-turbolinks="false">
    <div class="container mx-auto flex justify-center items-center">
        <%= form_with url: search_path do |f| %>
            <div id="gmap">
                <div class="form-control flex justify-center">
                    <!-- 地名入力用のinputを追加 -->
                    <label for="address_field" class="label-text">Enter address</label>
                    <%# <input type="text" placeholder="Enter address" class="input input-bordered" id="address_field"/> %>
                    <%= f.text_field :address, class: "input input-bordered", placeholder: 'Enter address', id: 'address_field'%>
                </div>
                <%= f.submit '検索', class:"btn"%>
                <%# <button type="button" onclick="codeAddress()">住所検索</button> %>
                <%# <%= f.text_field :address, class: "form-control form-control__gmap", hidden: false, id: 'address_field', readonly: true %>
                <%# <%= f.text_field :latitude, class: "form-control form-control__gmap", hidden: true, id: 'latitude_field', readonly: true %>
                <%# <%= f.text_field :longitude, class: "form-control form-control__gmap", hidden: true, id: 'longitude_field', readonly: true %>
                <%# <div id="map" style="width: 100%; height: 500px;"></div> %>
            </div>
        <% end %>
    </div>



    <script>
        function codeAddress() {
            let inputAddress = document.getElementById("address").value;

            geocoder.geocode({ address: inputAddress }, function (results, status) {
                if (status == "OK") {
                // Add a marker at the input address and display its address and coordinates
                let currentAddress = results[0].formatted_address;
                let location = results[0].geometry.location;
                addMarker(location);

                address = currentAddress;
                latitude = location.lat();
                longitude = location.lng();

                // Display the latitude and longitude in HTML tags
                document.getElementById("address_field").value = currentAddress;
                document.getElementById("latitude_field").value = location.lat();
                document.getElementById("longitude_field").value = location.lng();
            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
    </script>
</div>